*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width:1200px;
    margin: auto;
}
.menu_bar{
    background-color:#fff;
    height:100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding:10px 20px;
    position: relative;
    font-size: 1.3em;
}
.menu_bar ul li a{
    text-decoration: none;
    color:black;
    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color:  rgb(58, 156, 236);
    transition: all 0.3s;
}
.navigation-items a:before{
    content: '';
    position: absolute;
    background: #000;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.navigation-items a:hover:before{
    width: 100%;
}
.banner{
    margin-bottom: 50px;
    width: 100%;
}
.banner-text{
    color: #fff;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://assets.nicepagecdn.com/11a8ddce/3667110/images/pexels-photo-1471751.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.banner-text2{
    gap: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    padding: 20px;
    border: 20px solid  rgb(58, 156, 236);
    background: transparent;
    backdrop-filter: blur(10px);
    margin: auto;
}
.banner-text h2{
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 800;
    color: #fff;
}
.banner-text p{
    font-size: 1.2em;
    color:#fff
}
.banner-button{
    padding:10px 20px;
    text-decoration: none;
    background-color: rgb(58, 156, 236);
    color: #fff;
    text-align: center;
}
.container h2{
    margin: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}
.sampletext{
    display: flex;
    margin-top: 30px; 
}
.sampletext .sampletext2{
    padding: 20px 30px;
    flex-direction: column;
    width: 350px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    line-height: 1.6;
}
#iframe{
    margin-left: -220px;
    margin-bottom: 30px;
}
.boxes6{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}
.boxes7{
    display: flex;
    width: 350px;
    height: 350px;
    background: url(./images/poto1.jpeg)no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.boxes8{
    display: flex;
    width: 350px;
    height: 350px;
    background: url(./images/poto2.jpeg)no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.boxes9{
    display: flex;
    width: 350px;
    height: 350px;
    background: url(./images/poto3.jpeg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.boxes10{
    display: flex;
    width: 350px;
    height: 350px;
    background: url(./images/poto4.jpeg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.boxes11{
    display: flex;
    width: 350px;
    height: 350px;
    background: url(./images/poto5.jpeg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.boxes12{
    display: flex;
    width: 350px;
    height: 350px;
    background: url(./images/poto6.jpeg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.banner-button2{
    font-size: 1em;  
    width: 150px;
    height:50px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: rgb(58, 156, 236);
    color: #fff;
    margin: auto;
    
}
.potobaner{
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    height:900px;
    background-color: rgb(209, 209, 209);
}
.endbanner{
    width: 100%;
    margin: auto;
}
.bannerdown{
    height: 220px;
    width: 100%;
    background-color: rgb(61, 60, 60);
    margin: auto;
}
.bannerdown-text .endtext{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-top: 40px;
}
.bannerdown-text .endtext2{
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    gap: 5px;
}
.bannerdown-text a{
    color: aqua;
}
.bannerdown-text a:hover{
    text-decoration: none;
    color: rgb(119, 119, 119);
}
.contactbanner{
    margin-top: 40px;
    height: 500px;
    background-color: rgb(199, 201, 201);
    width: 100%;
    display: flex;
}
.bannercontact{
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: auto;
    flex-direction: column; 
}
.team{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 40px;
}
.imgby{
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-top: 20px;
}
.imgby a{
    text-decoration: none;
    color: #000;
    margin-left: 5px;
}
.team-members{
    width: 300px;
}
.team-members h3{
    font-size: 1.4em;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.team-members h4{
    color:  rgb(60, 182, 238);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.team-members p{
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
}
.team-members img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.imgborder{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(60, 182, 238);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.memberlinks{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    background-color:rgb(60, 182, 238);
    display: flex;
    justify-content: center;
    gap: 15px;
}
.contact-text{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 400px;
    padding: 20px;
}
.bannercontact-text img{
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    width: 400px;
    height: 250px;
    border-radius: 50%;
}
.bannercontact-text .contactimg{
    position: absolute;
    z-index: 50;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
.bannercontact-text i{
    display: flex;
}
.bannercontact-text p{
    display: flex;
}
.nomeri{
    display: flex;
}
.nomeri a{
    font-size: 2em;
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}
.nomeri a:hover{
    color:  rgb(69, 179, 243);
}
.nomeri i{
    margin-top: 15px;
}
.freepick a{
    text-decoration: none;
    color: rgb(69, 179, 243);
    margin-left: 5px;
}
.squares{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.squares-text{
    width: 550px;
    height: 350px;
    background-color: #fff;
}
.number-border{
    width: 150px;
    height: 150px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    align-items: center;
    background-color: rgb(36, 91, 211);
    color: #fff;
    border-radius: 50%;
    margin-top: 20px;
}
.squares-text h3{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
}
.squares-text p{
    display: flex;
   justify-content: center;
    width: 400px;
    margin: 20px 80px;
    text-align: center;
    font-size: 1em;
    
}
.squares-text2{
    width: 550px;
    height: 350px;
}
.squares-text3{
    width: 550px;
    height: 350px;
    margin-top: 40px;
}
.squares-text4{
    width: 550px;
    height: 350px;
}
.squares-text4 img{
    width: 550px;
    height: 350px;
}
.squares-text5{
    width: 550px;
    height: 350px;
}
.squares-text5 img{
    width: 550px;
    height: 350px;
}
.squares-text6{
    width: 550px;
    height: 350px;
}
.cellphone{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(78, 137, 247);
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.cellphone i{
    margin: auto;
}
.lightbulb{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(78, 137, 247);
    position: absolute; 
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 100px;
}
.lightbulb i{   
    margin: auto;
}
.booknow{
        padding:10px 20px;
        text-decoration: none;
        background-color: rgb(58, 156, 236);
        color: #fff;
        text-align: center;
        margin-top: 50px;
}
.squares-text3 p{
    margin-top: 30px;
}
.squares-text3 i{
    margin-right: 10px;
}
.squares-text6{
    margin-top: 50px;
    font-size: 1em;
    padding: 20px 50px;
}
.squares-text6 p{
    margin-top: 50px;
}
.blurep{
    color: gray;
}
.contactbanner{
    margin-top: 100px;
}
.bluebanner{
    height: 800px;
    width: 100%;
    background-color:#2590f4;
}
.bluebanner-text{
    display: flex;
    justify-content: space-around;
}
.bluebanner-text1{
    width: 500px;
    color: #fff;
    margin-right: 50px;
    margin-top: 200px;
}
.bluebanner-text1 h3{
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 600;
}
.bluebanner-text1 p{
    margin-top: 30px;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.learnmore{
    padding: 10px 20px;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
}
.bluebanner-text2{
    width: 450px;
    color: #fff;
    margin-top: 80px;
    gap: 100px;
}
.sampleheadline{
    margin-top: 50px;
}
.sampleheadline i{
    position: absolute;
    margin-left: -70px;
}
.bluebanner-text2 i{
    margin-top: 20px;
}
.bluebanner-text2 h3{
    font-size: 1.5em;
    margin-top: 10px;
}
.bluebanner-text2 p{
    margin-top: 20px;
}
.brwyalebi{
    margin-bottom: 20px;
    font-size: 7em;
}
